.form-field {
  @include flex-column-start;

  &__caption {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-grey);
  }

  &__input {
    padding-left: 15px;
    width: 260px;
    height: 44px;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    background-color: var(--color-athens-gray);

    &::placeholder {
      color: #9A9CA5;
    }

    &--big {
      padding-top: 10px;
      height: 66px;
      resize: none;
    }
  }

  &--big {
    flex-grow: 1;

    .form-field__input {
      width: 100%;
    }
  }

  &--grey {
    width: 100%;

    .form-field__input {
      width: 100%;
      background-color: var(--color-athens-gray);
    }
  }
}
