.hero-secondary {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;
  background-color: var(--color-athens-gray);
  background-repeat: no-repeat;

  &--services {
    background-image: url("../img/hero-services-bg.png");
    background-position: right top;
  }

  &--interior-design {
    background-image: url("../img/hero-interior-design-bg.png");
    background-position: right top;
  }

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebony-clay);
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm-gray);
  }
}
