<section class="contacts-section">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="contacts-section__container container">
    <form class="contacts-section__form contacts-form">
      <h3 class="contacts-form__title">A&nbsp;quick way to&nbsp;discuss details</h3>
      <label class="contacts-form__field form-field form-field--grey">
        <span class="form-field__caption">Name*</span>
        <input class="form-field__input" type="text" name="name" placeholder="Your name" aria-label="Enter your name">
      </label>
      <label class="contacts-form__field form-field form-field--grey">
        <span class="form-field__caption">Phone*</span>
        <input class="form-field__input" type="tel" name="tel" placeholder="Your phone number" aria-label="Enter your phone number">
      </label>
      <label class="contacts-form__field form-field form-field--grey">
        <span class="form-field__caption">Email*</span>
        <input class="form-field__input" type="email" name="email" placeholder="Your working email" aria-label="Enter your email">
      </label>
      <label class="contacts-form__field form-field form-field--grey">
        <span class="form-field__caption">Message*</span>
        <textarea class="form-field__input form-field__input--big" name="message" placeholder="Your message" aria-label="Enter your message"></textarea>
      </label>
      <label class="custom-checkbox contacts-form__checkbox">
        <input class="custom-checkbox__input" type="checkbox">
        <span class="custom-checkbox__content">I&nbsp;agree to&nbsp;receive communications from Createx Construction Bureau.</span>
      </label>
      <div class="centered">
      <button class="contacts-form__btn btn btn-reset btn--fill" type="submit" aria-label="Submit form">send request</button>
    </div>
    </form>
  </div>
</section>
