<header class="header header--transparent">
  <div class="header__container container">
    <a class="logo" href="#" aria-label="Go to home page Createx">
      <img src="img/logo.svg" alt="Createx logo">
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#" aria-label="Go to page About Us">About Us</a></li>
        <li class="nav__item"><a class="nav__link" href="#" aria-label="Go to page Services">Services</a></li>
        <li class="nav__item"><a class="nav__link" href="#" aria-label="Go to page Work">Work</a></li>
        <li class="nav__item"><a class="nav__link" href="#" aria-label="Go to page News">News</a></li>
        <li class="nav__item"><a class="nav__link" href="#" aria-label="Go to page Contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a class="header-contacts__link contacts-link contacts-link--call" href="tel:4055550128" aria-label="Call us an contact number">
        <span class="contacts-link__caption">Call us</span>
        <span class="contacts-link__value">(405) 555-0128</span>
      </a>
      <a class="header-contacts__link contacts-link contacts-link--mail" href="mailto:hello@createx.com" aria-label="Send us an email">
        <span class="contacts-link__caption">Talk to us</span>
        <span class="contacts-link__value">hello@createx.com</span>
      </a>
    </div>
  </div>
</header>
