<section class="hero-secondary hero-secondary--interior-design">
  <div class="container">
    <ul class="hero-secondary__breadcrumbs breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-label="Go to homepage">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-label="Go to Services page">Services</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" aria-hidden="true">Interior Design</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">INTERIOR DESIGN</h1>
    <p class="hero-secondary__descr">
      Dui augue nec mi&nbsp;mi. Ut&nbsp;ac&nbsp;lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet.
    </p>
  </div>
</section>
