<section class="hero-secondary hero-secondary--services">
  <div class="container">
    <ul class="hero-secondary__breadcrumbs breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-label="Go to homepage">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" aria-hidden="true">Services</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">SERVICES</h1>
    <p class="hero-secondary__descr">If&nbsp;you are looking for a&nbsp;full-service construction company, look to&nbsp;Createx Construction Bureau. We&nbsp;are doing our best to&nbsp;be&nbsp;a&nbsp;partner for all of&nbsp;your construction needs.</p>
  </div>
</section>
