<section class="hero-secondary hero-secondary--work-inner">
  <div class="container">
    <ul class="hero-secondary__breadcrumbs breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-label="Go to homepage">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-label="Go to Services page">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" aria-hidden="true">Modern Cottage</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title hero-secondary__title--small">Modern Cottage</h1>
    <div class="work-images">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/work/work-hero-one.jpg" alt="Photo of a modern cottage">
        </div>
        <div class="swiper-slide">
          <img src="img/work/work-hero-one.jpg" alt="Photo of a modern cottage">
        </div>
        <div class="swiper-slide">
          <img src="img/work/work-hero-one.jpg" alt="Photo of a modern cottage">
        </div>
        <div class="swiper-slide">
          <img src="img/work/work-hero-one.jpg" alt="Photo of a modern cottage">
        </div>
      </div>

    </div>
  </div>
</section>
