<section class="hero-secondary hero-secondary--work">
  <div class="container">
    <ul class="hero-secondary__breadcrumbs breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-label="Go to homepage">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" aria-hidden="true">Work</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">OUR WORK</h1>
    <p class="hero-secondary__descr">Our portfolio represents 20&nbsp;years of&nbsp;construction experience backed by&nbsp;a&nbsp;passion for perfect client service, quality and innovations in&nbsp;consctuction industry.</p>
  </div>
</section>
