<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
    <ul class="portfolio-tabs-nav list-reset">
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__button portfolio-tabs-nav__button--active button btn-reset" data-path="all" aria-label="Open all projects portfolio">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#house"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All Projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__button button btn-reset" data-path="construction" aria-label="Open construction portfolio">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Construction</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__button button btn-reset" data-path="project" aria-label="Open project development">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#project"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Project Development</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__button button btn-reset" data-path="interior" aria-label="Open Interior Design portfolio">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#interior"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Interior Design</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__button button btn-reset" data-path="repairs" aria-label="Open Repairs portfolio">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#repairs"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Repairs</span>
        </button>
      </li>
    </ul>
    <ul class="list-reset portfolio-tabs">
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="construction" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-one.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Cubes Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="project" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-two.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Cottage</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="project" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-three.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Luxury Beach House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="repairs" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-four.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
            <span class="portfolio-item__descr">Apartments & flats</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="repairs" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-five.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
            <span class="portfolio-item__descr">Apartments & flats</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="construction" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-six.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">The Pencil Building</h3>
            <span class="portfolio-item__descr">Stores & Malls</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="construction" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-seven.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="interior" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-eight.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="project" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-nine.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="#" class="portfolio-item" data-target="project" aria-label="Go to portfolio page">
          <img class="portfolio-item__image" src="img/portfolio/portfolio-nine.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
    </ul>
    <div class="centered">
      <button class="btn-reset portfolio-more">
        <svg>
          <use xlink:href="img/sprite.svg#load-more"></use>
        </svg>
        Load more</button>
    </div>
  </div>
</section>
